<div class="container">
  <div class="col-12 clearfix">
    <div class="float-left">
      <div class="card userInfo" style="width: 15rem;">
        <div class="card-header"><center><span class="info">USER INFORMATION</span></center></div>
            <div class="card-body">
              <center>
                <div class="userImage">
                <%= gravatar_for(current_user, 100) %>
              </div>
              <div>
                <h4 class="card-text"><%= current_user.name %></h4>
                <p class="card-text"><%= current_user.email %></p>
                <%= link_to "UPDATE PROFILE", edit_user_path(current_user), class: 'update' %>                
                  <div class="button">
                    <% unless current_user %>
                      <%= render 'relationships/follow_button', user:@user %>
                    <% end %>
                  </div>
              </div>
            </center>
          </div>
        </div>
          <div class="card" style="width: 15rem;">
            <div class="card-header"><center><span class="info">USER STATS</span></center></div>
            <div class="card-body">
              <center>
              <section class="stats">
                <%= render 'users/stats' %>
              </section>
              <p><%= link_to "#{current_user.lesson_words.count} WORDS LEARNED" , words_path, class: 'square_btn' %></p>
            </center>
            </div>
          </div> 
    </div>
  
      <div class="follower">
        <div class="card" style="width: 40rem">
          <div class="card-header">
            <center><span class="info">ACTIVITY FEED</span></center>
          </div>
          <div class="card-body">
            <% if @activities.any? %>
              <% @activities.each do |activity| %>
                <div class="row activityRow">
                  <% if activity.action_type == "Relationship" %>
                    <%= gravatar_for(current_user, 60) %>
                    <span class="nameAct"><%= link_to activity.user.name, dashboard_index_path %></span>
                    <span class="nameAct"> followed </span>
                    <span><%= link_to activity.action.followed.name, user_path(activity.action) %></span>
                  <% else %>
                    <%= gravatar_for(current_user, 60) %>
                    <span class="nameAct"><%= link_to activity.user.name, dashboard_index_path %></span>
                    <span class="nameAct"> learned </span>
                    <span><%= link_to activity.action.category.title, lesson_path(activity.action) %></span>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <center><p>Nothing to show.</p></center>
            <% end %>
            
          </div>
        </div>
      </div>
  </div>
</div>



