<div class="container">
	<div class="bigBox">
		<center><h3>Add Word</h3></center>

			<% @word.errors.full_messages.each do |message| %>
				<div class="alert alert-danger">
					<%= message %>
				</div>
			<% end %>

			<%= form_tag(admin_category_words_path) do %>
				<div class="form-group">
					<p>WORD</p>
						<%= text_field_tag :content, nil, class: 'form-control' %>
				</div>
					<p>CHOICES</p>
					<% @word.word_answers.each do |word_answer| %>
						<%= fields_for 'word_answers[]', word_answer do |a| %>
							<%= a.text_field :content, class: 'form-control choice' %>
							<%= a.check_box :correct %><span class="correct">correct</span>
						<% end %>
					<% end %>
				
				<div class="form-group">
					<%= submit_tag "SAVE WORD", class: 'btn btn-primary form-control bo' %>
				</div>

		<% end %>
	</div>
</div>
