<div class="container">
	<div class="col-12 clearfix">
		<div class="float-left">
			<div class="card userInfo" style="width: 15rem;">
		  		<div class="card-header"><center><span class="info">USER INFORMATION</span></center></div>
		  			<div class="card-body">
		  				<center>
		  					<div class="userImage">
								<%= gravatar_for(@user, 130) %>
							</div>
							<div>
			    				<h4 class="card-text"><%= @user.name %></h4>
								<p class="card-text"><%= @user.email %></p>
								<% if @user == current_user %>	
									<%= link_to "UPDATE PROFILE", edit_user_path, class: 'update' %>
								<% end %>
								<section class="stats">
									<%= render 'stats' %>
								</section>
								<div class="button">
									<% unless current_user == @user %>
									<%= render 'relationships/follow_button', user:@user %>
									<% end %>
								</div>
							</div>
						</center>
					</div>
		  		</div>
		  	</div>
  		<div class="follower">
        	<div class="card" style="width: 40rem">
          		<div class="card-header">
            		<center><span class="info">ACTIVITY FEED</span></center>
          		</div>
          		<div class="card-body">
          			<% if @activities.any? %>
		            	<% @activities.each do |activity| %>
		              		<div class="row activityRow">
		                	<% if activity.action_type == "Relationship" %>
			                  <%= gravatar_for(activity.action.followed, 60) %>
			                    <div class="nameAct">
				                  <span><%= link_to activity.user.name, dashboard_index_path %></span>
				                  <span> followed </span>
				                  <span><%= link_to activity.action.followed.name, user_path(activity.action.followed) %></span>
				                  <p class="timestamp"> <%= time_ago_in_words(activity.created_at) %> ago.</p>
                      			</div>
		                	<% else %>
			                  <%= gravatar_for(current_user, 60) %>
			                  	<div class="nameAct">
				                  <span><%= link_to activity.user.name, dashboard_index_path %></span>
				                  <span> learned </span>
				                  <span><%= activity.action.word_answers.where(correct:true).count %></span>
			                      <span> of </span>
			                      <span><%= activity.action.words.count %></span>
			                      <span> in </span>
				                  <span><%= link_to activity.action.category.title, lesson_path(activity.action) %></span>
				                  <p class="timestamp"> <%= time_ago_in_words(activity.created_at) %> ago.</p>
                      			</div>
		                	<% end %>
		             		</div>
		            	<% end %>
		            <% else %>
		            	<center><p>Nothing to show.</p></center>
		            <% end %>
            	</div>
        	</div>
    	 </div>
  	</div>
</div>
