<div class="container">
	<div class="card userInfo" style="width: 20rem;">
  		<div class="card-header"><center><span class="info">USER INFORMATION</span></center></div>
  			<div class="card-body">
  				<center>
  					<div class="userImage">
						<%= gravatar_for(@user, 150) %>
					</div>
					<div>
	    				<h4 class="card-text"><%= @user.name %></h4>
						<p class="card-text"><%= @user.email %></p>
						<% if @user == current_user %>	
						<%= link_to "UPDATE PROFILE", edit_user_path %>
						<% end %>
						<section class="stats">
							<%= render 'stats' %>
						</section>
						<div class="button">
							<% unless current_user == @user %>
							<%= render 'relationships/follow_button', user:@user %>
							<% end %>
						</div>
					</div>
				</center>
			</div>
  		</div>
	</div>
</div>