<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningYuko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="navbar navbar-default">
    <div class="navbar-header">
      <ul>
        <% if session[:user_id] %>
          <li>
            User ID : <%= session[:user_id] %>
          </li>
          <li>
            HOME
          </li>
          <li>
            Category
          </li>
          <li>
            <%= link_to "Logout", logout_path , {method:"post"} %>
          </li>

        <% end %>
        <% else %>
          <li>
            <%= link_to "HOME", root_path %>
          </li>
          <li>
            Category
          </li>

      </ul>
    </div>
   </div>

   <% if flash[:notice] %>
   <div class="alert alert-success">
      <%= flash[:notice] %>
   <% end %>
 </div>

    <%= yield %>
  </body>
</html>
