<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningYuko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="navbar navbar-default">
    <div class="navbar-header">
      <ul>
       <li class="li"><a href="#">HOME</a></li>
       <li class="li"><a href="#">ELearning</a></li>
       <li class="li"><a href="#">INFORMATION</a></li>
      </ul>
    </div>
   </div>

   <% if flash[:notice] %>
   <div class="alert alert-success">
      <%= flash[:notice] %>
   <% end %>
 </div>

    <%= yield %>
  </body>
</html>
