<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningYuko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar nav justify-content-end">
        <% if current_user %> 
        <ul>
          <li class="li">
            <%= link_to "HOME", root_path, class: 'logout' %>
          </li>
          <li class="li">
            Category
          </li>
          <li class="li">
            <%= link_to current_user.name, user_path(current_user), class: 'logout' %>
          </li>
          <li class="li">
            <%= link_to "Logout", logout_path , method:"post" , class: 'logout' %>
          </li>
        <% else %>
          <li class="li">
            <%= link_to "HOME", root_path, class: 'logout' %>
          </li>
          <li class="li">
            Category
          </li>
        <% end %>
      </ul>
    </div>


   <% if flash[:notice] %>
   <div class="alert alert-success">
      <%= flash[:notice] %>
   <% end %>
 </div>

    <%= yield %>
  </body>
</html>
